* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 0 15%;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
}

.nav {
    display: flex;
}

h1,
.nav {
    list-style: none;
}

.nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    gap: 40px
}

.main div {
    flex: 1 1 0;
}

.main h2 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.nav a,
.main-content p {
    color: #E5E7EB;
}

.btn-sign-up {
    padding: .4rem 1.5rem;
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
}

img {
    max-width: 100%;
    min-height: 100%;
}